﻿@model IEnumerable<DqdLesson8.Models.DqdCategory>

@{
    ViewBag.Title = "DqdIndex";
}

<h2>DqdIndex</h2>

<p>
    @Html.ActionLink("Dqd: Create New", "DqdCreate")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DqdCategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DqdCategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DqdCategorId }) |
                @Html.ActionLink("Details", "Details", new { id = item.DqdCategorId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DqdCategorId })
            </td>
        </tr>
    }

</table>